@model StoreOfBuild.Web.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/LoginStyle.css">
</head>

<body>
    <div class="container">
        <form asp-controller="Account" asp-action="Login" method="post">
            <h1 class="text-center">Log in</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <p class="text-center">
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
            </p>
            <p class="text-center">
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>
        </form>
    </div>

</body>
